Source: dkms
Section: admin
Priority: optional
Maintainer: Dynamic Kernel Modules Support Team <pkg-dkms-maint@lists.alioth.debian.org>
Uploaders: David Paleino <d.paleino@gmail.com>,
 Mario Limonciello <Mario_Limonciello@dell.com>,
 Giuseppe Iuculano <giuseppe@iuculano.it>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), quilt
Standards-Version: 3.8.0
Homepage: http://linux.dell.com/dkms
Vcs-Svn: svn://svn.debian.org/svn/pkg-dkms/dkms/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-dkms/dkms/trunk

Package: dkms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
 module-init-tools, bash (>> 1.99), linux-image, linux-headers
Recommends: patch, make, gcc, fakeroot
Description: Dynamic Kernel Module Support Framework
 DKMS is a framework designed to allow individual kernel modules to be upgraded
 without changing the whole kernel. It is also very easy to rebuild modules as
 you upgrade kernels.
